@model WebApplicationAdventure.DataLayer.EmailAddress

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>EmailAddress</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BusinessEntityId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BusinessEntityId" class ="form-control" asp-items="ViewBag.BusinessEntityId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmailAddress1" class="form-control" />
                <span asp-validation-for="EmailAddress1" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rowguid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rowguid" class="form-control" />
                <span asp-validation-for="Rowguid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
